{% verbatim %}

<div class="container-body clearfix">
    <div class="body-content">
        <div id="fetch-search-for-leads-box" class="search-box clearfix">
            <span class="span2">
                <a class="btn btn-success" ng-click="openAddLeadDialog()">
                    Add Guest <i class="icon-plus"></i>
                </a>
            </span>
            <input type="text" name="search" id="search" placeholder="Enter Guest name"
                   class="span7">
            <input type="submit" id="fetch-search-for-leads-box-submit"
                   class="search-submit" value="Search For Leads">
        </div>
        <!-- end search -->
    </div>
</div>

{% endverbatim %}