<!-- template for lead details showing Comments and Guest Information tabs -->
<script type="text/x-kendo-template" id="template">
    <div class="tabstrip">
        <ul>
            <li  class="k-state-active">
                Email Messages
            </li>
            <li>
                Customer Information
            </li>
            <li>
                Notes
            </li>
        </ul>
        <div>
            <div class="kendo-emails"></div>
        </div>
        <div>
            <div class='kendo-guest-details'>
                <h2>Name: #= customer_name #</h2>
                <dl>

                </dl>
            </div>
        </div>
        <div>
            <div class="kendo-notes"></div>
        </div>
    </div>
</script>
